html {
  padding: 20px;
}

.header_container {
  display: flex;
  height: 6vh;
  border: solid 3px black;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: aquamarine;
}

.header_menu {
  display: flex;
  justify-content: space-between;
}

.header_menu_item {
  padding: 10px;
  text-decoration: none;
  color: blue;
  font-size: large;
  font-weight: bold;
  transition: all 0.3s;
}

.header_menu_item_active {
  padding: 10px;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  text-decoration: underline;
  color: blueviolet;
  transform: scale(1.1);
}

.header_menu_item:hover {
  text-decoration: underline;
  color: blueviolet;
  transform: scale(1.1);
}

.footer_container {
  display: flex;
  height: 6vh;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border: solid 3px black;
  background-color: aquamarine;
  color: blue;
  font-size: 30px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  z-index: 0;
}

.cars_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: black;
  font-size: 20px;
  z-index: 100;
}

.car_container {
  background-color: aquamarine;
  margin: 20px;
  width: 25vw;
  border: solid 3px black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  position: relative;
}

.model {
  color: red;
  background-color: rgb(63, 9, 181);
  border-radius: 20px;
  width: 70%;
  position: absolute;
  /* bottom: -22px; */
  overflow: hidden;
  text-align: center;
  height: 20px;
}


.icon {
  width: 50px;
  height: 50px;
}